@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: inherit;
    color: inherit;
}

a:hover {
    text-decoration: inherit;
    color: inherit;
}

.btn-buy {
    width: 100%;
    background-color: #F2D492;
    border: none;
}

.btn-buy:hover {
    background-color: #D5B87A;
}

.btn-buynow {
    width: 80%;
    background-color: #F2D492;
    border: none;
}

.btn-buynow:hover {
    background-color: #D5B87A;
}

.card-product:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}